header.header
  .container.header-bar
    .left
      a(href="/")
        img(src=(settings.logo || "/img/enaBday.jpg") height="100px" width="100px" class="header-img")
    .right
      ul.nav-list
        li.nav-item
          a(href="/") Trang chủ
        li.nav-item
          a(href="/")  Trang chủ đề     
