* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #9575cd;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header and footer */
.header {
  display: flex;
}

.header-img {
  border-radius: 20px;
  object-fit: cover;
}

.header-bar {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c2e2f7;
  padding: 10px 20px;
  border-radius: 30px;
  border: 0px solid black;
}

.nav-list {
  margin-right: 20px;
}

.nav-item a {
  font-size: 20px;
  color: purple;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
}

.boxHead {
  margin-top: 15px;
  color: green;
}

/*------------------------------------------*/
/* song item --------------------- */

.song-item {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #111;
  border-radius: 8px;
  height: 100%;
}
.inner-image {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.inner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  color: #eee;
}

.inner-title a {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.inner-title a:hover {
  color: #1db954; /* spotify green vibe */
}

.inner-singer,
.inner-likeCount,
.inner-releaseDate {
  font-size: 13px;
  color: #aaa;
}

.inner-singer i,
.inner-likeCount i,
.inner-releaseDate i {
  margin-right: 6px;
}
